@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



@theme {

    --font-Quicksand: Quicksand, sans-serif;


    --color-primary: #FE9030;

    --color-bg-app: #F9FAFB;

    --color-border-light: #d8d8d8;


    --breakpoint-xxl: 110rem;
    --breakpoint-xl: 80rem;
    --breakpoint-lg: 64rem;
    --breakpoint-md: 48rem;
    --breakpoint-sm: 32rem;

}

body {

    /* font-family: font-Quicksand; */
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;

    padding: 0 20px !important;
}


.phone-input-container input {
    padding: 10px !important;

}

.PhoneInputCountry {
    padding: 10px !important;
    border-right: 2px solid #828282 !important;
}


.active {

    color: var(--color-primary) !important;
    font-weight: 600 !important;
}


.custom-checkbox {
    @apply appearance-none w-4 h-4 border border-gray-300 rounded-sm relative cursor-pointer;
    background-color: #fff;
}

.custom-checkbox:checked {
    background-color: #f97316;
    border-color: transparent;
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 0.1rem;
    left: 0.35rem;
    width: 0.25rem;
    height: 0.5rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}